GOMEDISYS_USER=

GOMEDISYS_PASS=

BASE_URL=

SEDE_TRABAJO=

WAIT_TIMEOUT=

HEADLESS=

CHROMEDRIVER_PATH=



SMTP_SERVER=mail.gesencro.com
SMTP_PORT=995
SMTP_USER=luis.camilo@gesencro.com
SMTP_PASS= ',#CZbz%3{E%*Dr!n'
MAIL_RECIPIENTS=miguelcami32@gmail.com